@media all and (min-width: 0px){
    #menu{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--cor-3);
        position: sticky;
        top: 0;
        z-index: 3;
    }
    #menu-items{
        width: 100%;
        max-width: 1024px;
        height: 100%;
        padding: 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #menu-check{
        display: none;
    }
    .menu-links{
        list-style: none;
        display: flex;
        gap: 16px;
    }
    .menu-links a{
        text-decoration: none;
        color: var(--cor-2);
        text-transform: uppercase;
        font-weight: 400;
        font-size: 18px;
        display: flex;
        align-items: center;
        transition: transform .5s;
    }
    .menu-links a:hover{
        transform: scale(105%);
    }
    #links-page{
        width: 100%;
        height: calc(100vh - 50px);
        flex-direction: column;
        align-items: end;
        justify-content: center;
        padding: 0 16px 0 0;
        background-color: var(--cor-1);
        position: absolute;
        top: 50px;
        left: -100%;
        transition: transform .5s linear;
    }
    #links-page a{
        font-size: 40px;
    }
    #toggle-background{
        position: absolute;
        top: 15px;
        right: 50px;
    }
    #menu-btn-hamburguer{
        font-size: 18px;
        color: var(--cor-2);
        position: relative;
        cursor: pointer;
    }
    #menu-btn-hamburguer::after{
        content: '\2715';
        position: absolute;
        top: 0;
        left: 1px;
        background-color: var(--cor-3);
        display: none;
    }
    #menu-check:checked ~ #menu-btn-hamburguer::after{
        display: initial;
    }
    #menu-check:checked ~ #links-page{
        transform: translateX(100%);
    }
}

@media all and (min-width: 768px){
    #links-page{
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        flex-direction: row;
    }
    #links-page a{
        font-size: 18px;
    }
    #toggle-background{
        position: initial;
    }
    #menu-btn-hamburguer{
        display: none;
    }
}
